services:
    devcontainer:
        build:
            dockerfile: devcontainer.DockerFile
        restart: always
        command: sleep infinity
        volumes:
            - ../../:/workspaces:cached
        depends_on:
            - coverage
            - tests
    coverage:
        image: nginxinc/nginx-unprivileged:1.29-alpine
        restart: unless-stopped
        ports:
            - '${PORT_COVERAGE:-8002}:80'
        volumes:
            - ./coverage.conf:/etc/nginx/conf.d/default.conf
            - ../coverage/:/app/
    tests:
        image: nginxinc/nginx-unprivileged:1.29-alpine
        restart: unless-stopped
        ports:
            - '${PORT_TESTS:-8003}:80'
        volumes:
            - ./tests.conf:/etc/nginx/conf.d/default.conf
            - ../:/app/
    playwright:
        image: mcr.microsoft.com/playwright:v1.57.0-noble
        restart: unless-stopped
        ports:
            - '${PORT_PLAYWRIGHT:-8004}:3000'
        command: npx -y playwright@1.57.0 run-server --port 3000 --host 0.0.0.0
