# This workflow will do a clean installation of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI
on:
    push:
    pull_request:
        branches: [main]
jobs:
    basic-checks:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node_version:
                    - 6
                    - 8
                    - 10
                    - 11
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: true
            - name: Use Node.js ${{ matrix.node_version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node_version }}
                  cache: 'npm'
            - name: install clean
              if: ${{ matrix.node_version > 6 }}
              run: npm ci
            - name: install dirty
              if: ${{ matrix.node_version == 6 }}
              run: npm install
            - run: node ./test/test.js
